@import "tailwindcss";
@custom-variant dark (&:where(.dark, .dark *));  

/* neede to add this here for dark mode toggle to work */


:root {
  --background: #F2F2F7;
  --foreground: #1C1C1E;
}
.dark{
  --background:#1C1C1E;
  --foreground:#F2F2F7;
}
@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}


body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}
